- name: Configure web servers
  hosts: aws_ec2
  become: true
  tasks:
    - name: Install nginx
      yum:
        name: nginx
        state: present

    - name: Ensure nginx is running
      service:
        name: nginx
        state: started